oglasiSema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="oglasi">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="oglas">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="kategorija" type="xs:string" />
							<xs:element name="datumIsteka">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="dan">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:positiveInteger">
                                                    <xs:minInclusive value="1"></xs:minInclusive>
                                                    <xs:maxInclusive value="31"></xs:maxInclusive>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
										<xs:element name="mesec">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:positiveInteger">
                                                    <xs:minInclusive value="1"></xs:minInclusive>
                                                    <xs:maxInclusive value="12"></xs:maxInclusive>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
										<xs:element name="godina" type="xs:positiveInteger" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="cena">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:unsignedShort">
											<xs:attribute name="valuta" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="tekstOglasa">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="10"></xs:minLength>
                                        <xs:maxLength value="180"></xs:maxLength>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
							<xs:element maxOccurs="unbounded" name="oznaka" type="xs:string" />
							<xs:element maxOccurs="unbounded" name="ePosta">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="tip" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

    <xs:simpleType name="ePosta">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{1,20}[@][a-zA-Z]{4,8}(\.com$)"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="cena">
        <xs:restriction base="xs:unsignedShort">
            <xs:minInclusive value="1"></xs:minInclusive>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>