oglasi.dtd

<!ELEMENT oglasi (oglas+)>
<!ELEMENT oglas (kategorija, datumIsteka, cena, tekstOglasa, oznaka+, ePosta+)>
<!ELEMENT kategorija (#PCDATA)>
<!ELEMENT datumIsteka (dan, mesec, godina)>
<!ELEMENT dan (#PCDATA)>
<!ELEMENT mesec (#PCDATA)>
<!ELEMENT godina (#PCDATA)>
<!ELEMENT cena (#PCDATA)>
<!ELEMENT tekstOglasa (#PCDATA)>
<!ELEMENT oznaka (#PCDATA)>
<!ELEMENT ePosta (#PCDATA)>
<!ATTLIST cena valuta (eur | din) "din">
<!ATTLIST ePosta tip (privatni | javni) #IMPLIED>